{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}

    {% if article.image %}
        <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="Image" style="max-width: 400px;">
    {% endif %}
    <h1>{{ article.titre }}</h1>

    <p>{{ article.text1 }}</p>

    <a href="{{ path('app_article') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    <form method="post" action="{{ path('article_delete', {id: article.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-article') }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
{% endblock %}

